
.vscode/settings.json
flask_server/.env
flask_server/__pycache__/app.cpython-310.pyc
/flask_server/env
/simulation/env
*.pyc
*.pyc
/flask_server/utilities/__pycache__
/data_analysis/env
data_analysis/.env
